@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap'); */

@font-face {
  font-family: "Big Shoulders Display";
  src: url("./font/static/BigShouldersDisplay-Regular.ttf");
}

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
}
body {
  background-color: var(--Very-light-gray);
  min-height: 100vh;
  padding: 1rem;
  text-wrap: balance;
}
h1 {
  color: var(--Very-light-gray);
  font-family: 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  font-size: 47px;
}
button {
  background-color: var(--Very-light-gray);
  color: inherit;
  width: 40vw;
  padding: 16px;
  border-radius: 2rem;
  border: none;
  text-transform: capitalize;
  font-family: 'Lexend Deca', sans-serif;
  margin-top: 2rem;
}
section.card > div {
    padding: 2.9rem;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 2rem; */
    text-wrap: pretty;
}
img {
    width: 55px;
}
.attribution {
  font-family: "Lexend Deca", sans-serif;
  font-size: small;
}
p {
  color: var(--Transparent-white);
  line-height: 21px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
}
section.card > div:nth-child(1) {
  background-color: var(--Bright-orange);
  color: var(--Bright-orange);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
section.card > div:nth-child(2) {
  background-color: var(--Dark-cyan);
  color: var(--Dark-cyan);
}
section.card > div:nth-child(3) {
  background-color: var(--Very-dark-cyan);
  color: var(--Very-dark-cyan);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
button:active,
button:hover {
  color: #fff;
  background-color: transparent;
  outline-width: 2px;
  outline-style: solid;
  outline-color: #fff;
  cursor: pointer;
}


@media (min-width: 767px) {
    body {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p {
      width: 197px;
    }
    section.card {
        display: flex;
        margin-bottom: 1rem;
    }
    section.card > div {
      display: block;
      max-width: 308px;
    }
    button {
        width: 20vh;
    }
    section.card > div:nth-child(3) {
        border-radius: 0;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
      section.card > div:nth-child(1) {
        border-radius: 0;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }
}